<section class="main">
    <div class="container">
        <div class="main-info">
            <h1 class="double-title">
                Самая вкусная пицца в мире <span>только в Pizza Cheff</span>
            </h1>
            <div class="main-advantages">
                <div class="advantage">
                    <div class="advantage-image">
                        <img src="assets/img/hop.png" alt="Hop Icon">
                    </div>
                    <div class="advantage-text">
                        <div class="advantage-title">
                            Лучшее тесто
                        </div>
                        <div class="advantage-description">
                            Мы создаем тесто только из отборной итальянской муки наивысшего качества
                        </div>
                    </div>
                </div>
                <div class="advantage">
                    <div class="advantage-image">
                        <img src="assets/img/hat.png" alt="Chef's Hat Icon">
                    </div>
                    <div class="advantage-text">
                        <div class="advantage-title">
                            Лучшие повара
                        </div>
                        <div class="advantage-description">
                            Пиццы готовят самые профессиональные итальянские повара
                        </div>
                    </div>
                </div>
                <div class="advantage">
                    <div class="advantage-image">
                        <img src="assets/img/check.png" alt="Check Mark Icon">
                    </div>
                    <div class="advantage-text">
                        <div class="advantage-title">
                            Гарантия качества
                        </div>
                        <div class="advantage-description">
                            Наша пиццерия получила множество наград и признаний по всему миру
                        </div>
                    </div>
                </div>
                <div class="advantage">
                    <div class="advantage-image">
                        <img src="assets/img/dish.png" alt="Dish On Hand Icon">
                    </div>
                    <div class="advantage-text">
                        <div class="advantage-title">
                            Отборные рецепты
                        </div>
                        <div class="advantage-description">
                            Мы используем рецепты от мировых лидеров в изготовлении пиццы
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-action">
                <a class="btn" (click)="test()">Выбрать пиццу</a>
            </div>
        </div>
        <div class="main-image">
            <img src="assets/img/pizza_big.png" alt="Big Pizza Photo">
        </div>
    </div>
</section>

<app-popup [data]="'main-component'"></app-popup>